## A 'war' on commodities

The USA announced yesterday a halt of Russian oil import, a decision that European nations won't follow. At the same time, the UN showed distress on how the disruption of crucial exports like wheat will affect vulnerable countries already on the brink of famine.

With these lastest developments in mind, we decided to analyze and plot the countries where Russia exports most of its petrol, and also, the countries that consume most of Russian wheat, according to **UN Comtrade dataset**. Finally, we will use **World Food Programme (WFP)** data to check if some of those countries cope already with, or could in the near future, suffer from food insecurity.

In [1]:
import pandas as pd

In [2]:
# Our data since 2017 downloaded from UN Comtrade dataset
df =pd.read_csv('export_wheat.csv')

In [3]:
pd.set_option("display.max_columns", None)

In [4]:
# We clean the data
df.columns = df.columns.str.lower().str.replace(" ", "_")
pd.set_option('display.float_format', '{:,.2f}'.format)

df.head()

,classification,year,period,period_desc.,aggregate_level,is_leaf_code,trade_flow_code,trade_flow,reporter_code,reporter,reporter_iso,partner_code,partner,partner_iso,2nd_partner_code,2nd_partner,2nd_partner_iso,customs_proc._code,customs,mode_of_transport_code,mode_of_transport,commodity_code,commodity,qty_unit_code,qty_unit,qty,alt_qty_unit_code,alt_qty_unit,alt_qty,netweight_(kg),gross_weight_(kg),trade_value_(us$),cif_trade_value_(us$),fob_trade_value_(us$),flag
0,H5,2017,2017,2017,4,0,2,Export,643,Russian Federation,RUS,0,World,WLD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1001,Wheat and meslin,8,Weight in kilograms,33065901341,NaN,NaN,NaN,33065901341,NaN,5796184206,NaN,NaN,6
1,H5,2017,2017,2017,4,0,2,Export,643,Russian Federation,RUS,8,Albania,ALB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1001,Wheat and meslin,8,Weight in kilograms,151675990,NaN,NaN,NaN,151675990,NaN,24721125,NaN,NaN,0
2,H5,2017,2017,2017,4,0,2,Export,643,Russian Federation,RUS,24,Angola,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1001,Wheat and meslin,8,Weight in kilograms,7550000,NaN,NaN,NaN,7550000,NaN,1389200,NaN,NaN,0
3,H5,2017,2017,2017,4,0,2,Export,643,Russian Federation,RUS,31,Azerbaijan,AZE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1001,Wheat and meslin,8,Weight in kilograms,1213908300,NaN,NaN,NaN,1213908300,NaN,200301735,NaN,NaN,0
4,H5,2017,2017,2017,4,0,2,Export,643,Russian Federation,RUS,50,Bangladesh,BGD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1001,Wheat and meslin,8,Weight in kilograms,1923410950,NaN,NaN,NaN,1923410950,NaN,320814351,NaN,NaN,0

In [5]:
# drop unnecessary columns where all elements are NaN
df = df.dropna(axis=1, how='all')
df.head()

,classification,year,period,period_desc.,aggregate_level,is_leaf_code,trade_flow_code,trade_flow,reporter_code,reporter,reporter_iso,partner_code,partner,partner_iso,commodity_code,commodity,qty_unit_code,qty_unit,qty,netweight_(kg),trade_value_(us$),flag
0,H5,2017,2017,2017,4,0,2,Export,643,Russian Federation,RUS,0,World,WLD,1001,Wheat and meslin,8,Weight in kilograms,33065901341,33065901341,5796184206,6
1,H5,2017,2017,2017,4,0,2,Export,643,Russian Federation,RUS,8,Albania,ALB,1001,Wheat and meslin,8,Weight in kilograms,151675990,151675990,24721125,0
2,H5,2017,2017,2017,4,0,2,Export,643,Russian Federation,RUS,24,Angola,AGO,1001,Wheat and meslin,8,Weight in kilograms,7550000,7550000,1389200,0
3,H5,2017,2017,2017,4,0,2,Export,643,Russian Federation,RUS,31,Azerbaijan,AZE,1001,Wheat and meslin,8,Weight in kilograms,1213908300,1213908300,200301735,0
4,H5,2017,2017,2017,4,0,2,Export,643,Russian Federation,RUS,50,Bangladesh,BGD,1001,Wheat and meslin,8,Weight in kilograms,1923410950,1923410950,320814351,0

In [6]:
# drop unnecessary columns
columns = ['year', 'classification', 'period_desc.', 'aggregate_level', 'is_leaf_code', 'trade_flow_code', 'qty_unit_code', 'flag', 'netweight_(kg)']
df = df.drop(columns ,axis='columns')

In [7]:
df.head(15)

,period,trade_flow,reporter_code,reporter,reporter_iso,partner_code,partner,partner_iso,commodity_code,commodity,qty_unit,qty,trade_value_(us$)
0,2017,Export,643,Russian Federation,RUS,0,World,WLD,1001,Wheat and meslin,Weight in kilograms,33065901341,5796184206
1,2017,Export,643,Russian Federation,RUS,8,Albania,ALB,1001,Wheat and meslin,Weight in kilograms,151675990,24721125
2,2017,Export,643,Russian Federation,RUS,24,Angola,AGO,1001,Wheat and meslin,Weight in kilograms,7550000,1389200
3,2017,Export,643,Russian Federation,RUS,31,Azerbaijan,AZE,1001,Wheat and meslin,Weight in kilograms,1213908300,200301735
4,2017,Export,643,Russian Federation,RUS,50,Bangladesh,BGD,1001,Wheat and meslin,Weight in kilograms,1923410950,320814351
5,2017,Export,643,Russian Federation,RUS,51,Armenia,ARM,1001,Wheat and meslin,Weight in kilograms,213727280,37975382
6,2017,Export,643,Russian Federation,RUS,100,Bulgaria,BGR,1001,Wheat and meslin,Weight in kilograms,100,9
7,2017,Export,643,Russian Federation,RUS,108,Burundi,BDI,1001,Wheat and meslin,Weight in kilograms,28140000,4997493
8,2017,Export,643,Russian Federation,RUS,112,Belarus,BLR,1001,Wheat and meslin,Weight in kilograms,99543370,14204133
9,2017,Export,643,Russian Federation,RUS,120,Cameroon,CMR,1001,Wheat and meslin,Weight in kilograms,278571000,48215942
10,2017,Export,643,Russian Federation,RUS,132,Cabo Verde,CPV,1001,Wheat and meslin,Weight in kilograms,19725650,3573904
11,2017,Export,643,Russian Federation,RUS,144,Sri Lanka,LKA,1001,Wheat and meslin,Weight in kilograms,302833000,55038225
12,2017,Export,643,Russian Federation,RUS,156,China,CHN,1001,Wheat and meslin,Weight in kilograms,18027100,4252454
13,2017,Export,643,Russian Federation,RUS,178,Congo,COG,1001,Wheat and meslin,Weight in kilograms,119386890,21488952
14,2017,Export,643,Russian Federation,RUS,180,Dem. Rep. of the Congo,COD,1001,Wheat and meslin,Weight in kilograms,73504930,12730054

In [8]:
df_world = df[df.partner == 'World']
df_world.head()

,period,trade_flow,reporter_code,reporter,reporter_iso,partner_code,partner,partner_iso,commodity_code,commodity,qty_unit,qty,trade_value_(us$)
0,2017,Export,643,Russian Federation,RUS,0,World,WLD,1001,Wheat and meslin,Weight in kilograms,33065901341,5796184206
86,2018,Export,643,Russian Federation,RUS,0,World,WLD,1001,Wheat and meslin,Weight in kilograms,43965626394,8432492719
192,2019,Export,643,Russian Federation,RUS,0,World,WLD,1001,Wheat and meslin,Weight in kilograms,31873169714,6403010894
289,2020,Export,643,Russian Federation,RUS,0,World,WLD,1001,Wheat and meslin,Weight in kilograms,37267013728,7918294256

In [9]:
# we get rid of the category World as a whole
df = df[df.partner != 'World']
df.head()

,period,trade_flow,reporter_code,reporter,reporter_iso,partner_code,partner,partner_iso,commodity_code,commodity,qty_unit,qty,trade_value_(us$)
1,2017,Export,643,Russian Federation,RUS,8,Albania,ALB,1001,Wheat and meslin,Weight in kilograms,151675990,24721125
2,2017,Export,643,Russian Federation,RUS,24,Angola,AGO,1001,Wheat and meslin,Weight in kilograms,7550000,1389200
3,2017,Export,643,Russian Federation,RUS,31,Azerbaijan,AZE,1001,Wheat and meslin,Weight in kilograms,1213908300,200301735
4,2017,Export,643,Russian Federation,RUS,50,Bangladesh,BGD,1001,Wheat and meslin,Weight in kilograms,1923410950,320814351
5,2017,Export,643,Russian Federation,RUS,51,Armenia,ARM,1001,Wheat and meslin,Weight in kilograms,213727280,37975382

In [10]:
# We group our data by year and country
df_country = df.groupby(['period', 'partner'])['qty'].sum().sort_values(ascending=False).to_frame().reset_index()

In [11]:
df_country.head()

   period partner         qty
0    2018   Egypt  9576778000
1    2020   Egypt  8254555420
2    2020  Turkey  7900550400
3    2017   Egypt  7835357000
4    2019  Turkey  7035357310

In [12]:
# We keep the top 10 countries to which Russia exports its wheat per year
df_country = df_country.set_index('partner').groupby('period')['qty'].nlargest(10).reset_index()

In [13]:
df_country.tail(25)

    period                  partner         qty
15    2018               Bangladesh  1862358500
16    2018                Indonesia  1374672500
17    2018                    Yemen  1343464100
18    2018                   Latvia  1269388410
19    2018              Philippines  1023375810
20    2019                   Turkey  7035357310
21    2019                    Egypt  6129970000
22    2019               Bangladesh  2582341550
23    2019               Azerbaijan  1285439200
24    2019                    Sudan   986953300
25    2019                  Nigeria   894729900
26    2019                    Yemen   880507000
27    2019     United Arab Emirates   736156920
28    2019                 Viet Nam   604543080
29    2019                   Latvia   578805990
30    2020                    Egypt  8254555420
31    2020                   Turkey  7900550400
32    2020               Bangladesh  1940854670
33    2020               Azerbaijan  1385006774
34    2020                    Sudan  1333408700
35    2020                 Pakistan  1173080500
36    2020                  Nigeria   998131200
37    2020                    Yemen   796103400
38    2020  United Rep. of Tanzania   700911450
39    2020     United Arab Emirates   674558011

In [14]:
# transform kilograms to million metric tonnes 
df_country.qty = (df_country.qty / 1000)
df_country.tail()

    period                  partner          qty
35    2020                 Pakistan 1,173,080.50
36    2020                  Nigeria   998,131.20
37    2020                    Yemen   796,103.40
38    2020  United Rep. of Tanzania   700,911.45
39    2020     United Arab Emirates   674,558.01

In [15]:
df_country.to_csv('final_export_wheat.csv', index=False)

## We do the same with Russian petrol exports

In [16]:
# We download the data from UN Comtrade back to 2017
df1 =pd.read_csv('export_petroleum.csv')

In [17]:
df1.head()

,Classification,Year,Period,Period Desc.,Aggregate Level,Is Leaf Code,Trade Flow Code,Trade Flow,Reporter Code,Reporter,Reporter ISO,Partner Code,Partner,Partner ISO,2nd Partner Code,2nd Partner,2nd Partner ISO,Customs Proc. Code,Customs,Mode of Transport Code,Mode of Transport,Commodity Code,Commodity,Qty Unit Code,Qty Unit,Qty,Alt Qty Unit Code,Alt Qty Unit,Alt Qty,Netweight (kg),Gross weight (kg),Trade Value (US$),CIF Trade Value (US$),FOB Trade Value (US$),Flag
0,H5,2017,2017,2017,4,0,2,Export,643,Russian Federation,RUS,0,World,WLD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2709,Petroleum oils and oils obtained from bitumino...,8,Weight in kilograms,252793521527,NaN,NaN,NaN,NaN,NaN,93377261711,NaN,NaN,6
1,H5,2017,2017,2017,4,0,2,Export,643,Russian Federation,RUS,40,Austria,AUT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2709,Petroleum oils and oils obtained from bitumino...,8,Weight in kilograms,40140,NaN,NaN,NaN,"40,140.00",NaN,2143,NaN,NaN,0
2,H5,2017,2017,2017,4,0,2,Export,643,Russian Federation,RUS,100,Bulgaria,BGR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2709,Petroleum oils and oils obtained from bitumino...,8,Weight in kilograms,3568235000,NaN,NaN,NaN,"3,568,235,000.00",NaN,1294804521,NaN,NaN,0
3,H5,2017,2017,2017,4,0,2,Export,643,Russian Federation,RUS,112,Belarus,BLR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2709,Petroleum oils and oils obtained from bitumino...,8,Weight in kilograms,18069750000,NaN,NaN,NaN,"18,069,750,000.00",NaN,5278221910,NaN,NaN,0
4,H5,2017,2017,2017,4,0,2,Export,643,Russian Federation,RUS,124,Canada,CAN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2709,Petroleum oils and oils obtained from bitumino...,8,Weight in kilograms,434647000,NaN,NaN,NaN,"434,647,000.00",NaN,164645949,NaN,NaN,0

In [18]:
# We clean the data
pd.set_option("display.max_columns", None)   
pd.set_option('display.float_format', '{:,.2f}'.format)
df1.columns = df1.columns.str.lower().str.replace(" ", "_")

df1.head()

,classification,year,period,period_desc.,aggregate_level,is_leaf_code,trade_flow_code,trade_flow,reporter_code,reporter,reporter_iso,partner_code,partner,partner_iso,2nd_partner_code,2nd_partner,2nd_partner_iso,customs_proc._code,customs,mode_of_transport_code,mode_of_transport,commodity_code,commodity,qty_unit_code,qty_unit,qty,alt_qty_unit_code,alt_qty_unit,alt_qty,netweight_(kg),gross_weight_(kg),trade_value_(us$),cif_trade_value_(us$),fob_trade_value_(us$),flag
0,H5,2017,2017,2017,4,0,2,Export,643,Russian Federation,RUS,0,World,WLD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2709,Petroleum oils and oils obtained from bitumino...,8,Weight in kilograms,252793521527,NaN,NaN,NaN,NaN,NaN,93377261711,NaN,NaN,6
1,H5,2017,2017,2017,4,0,2,Export,643,Russian Federation,RUS,40,Austria,AUT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2709,Petroleum oils and oils obtained from bitumino...,8,Weight in kilograms,40140,NaN,NaN,NaN,"40,140.00",NaN,2143,NaN,NaN,0
2,H5,2017,2017,2017,4,0,2,Export,643,Russian Federation,RUS,100,Bulgaria,BGR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2709,Petroleum oils and oils obtained from bitumino...,8,Weight in kilograms,3568235000,NaN,NaN,NaN,"3,568,235,000.00",NaN,1294804521,NaN,NaN,0
3,H5,2017,2017,2017,4,0,2,Export,643,Russian Federation,RUS,112,Belarus,BLR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2709,Petroleum oils and oils obtained from bitumino...,8,Weight in kilograms,18069750000,NaN,NaN,NaN,"18,069,750,000.00",NaN,5278221910,NaN,NaN,0
4,H5,2017,2017,2017,4,0,2,Export,643,Russian Federation,RUS,124,Canada,CAN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2709,Petroleum oils and oils obtained from bitumino...,8,Weight in kilograms,434647000,NaN,NaN,NaN,"434,647,000.00",NaN,164645949,NaN,NaN,0

In [19]:
# drop columns where all elements are NaN
df1 = df1.dropna(axis=1, how='all')
df1.head()

,classification,year,period,period_desc.,aggregate_level,is_leaf_code,trade_flow_code,trade_flow,reporter_code,reporter,reporter_iso,partner_code,partner,partner_iso,commodity_code,commodity,qty_unit_code,qty_unit,qty,netweight_(kg),trade_value_(us$),flag
0,H5,2017,2017,2017,4,0,2,Export,643,Russian Federation,RUS,0,World,WLD,2709,Petroleum oils and oils obtained from bitumino...,8,Weight in kilograms,252793521527,NaN,93377261711,6
1,H5,2017,2017,2017,4,0,2,Export,643,Russian Federation,RUS,40,Austria,AUT,2709,Petroleum oils and oils obtained from bitumino...,8,Weight in kilograms,40140,"40,140.00",2143,0
2,H5,2017,2017,2017,4,0,2,Export,643,Russian Federation,RUS,100,Bulgaria,BGR,2709,Petroleum oils and oils obtained from bitumino...,8,Weight in kilograms,3568235000,"3,568,235,000.00",1294804521,0
3,H5,2017,2017,2017,4,0,2,Export,643,Russian Federation,RUS,112,Belarus,BLR,2709,Petroleum oils and oils obtained from bitumino...,8,Weight in kilograms,18069750000,"18,069,750,000.00",5278221910,0
4,H5,2017,2017,2017,4,0,2,Export,643,Russian Federation,RUS,124,Canada,CAN,2709,Petroleum oils and oils obtained from bitumino...,8,Weight in kilograms,434647000,"434,647,000.00",164645949,0

In [20]:
# drop unnecessary columns
columns = ['year', 'classification', 'period_desc.', 'aggregate_level', 'is_leaf_code', 'trade_flow_code', 'qty_unit_code', 'flag', 'netweight_(kg)']
df1 = df1.drop(columns ,axis='columns')

In [21]:
df1.head()

,period,trade_flow,reporter_code,reporter,reporter_iso,partner_code,partner,partner_iso,commodity_code,commodity,qty_unit,qty,trade_value_(us$)
0,2017,Export,643,Russian Federation,RUS,0,World,WLD,2709,Petroleum oils and oils obtained from bitumino...,Weight in kilograms,252793521527,93377261711
1,2017,Export,643,Russian Federation,RUS,40,Austria,AUT,2709,Petroleum oils and oils obtained from bitumino...,Weight in kilograms,40140,2143
2,2017,Export,643,Russian Federation,RUS,100,Bulgaria,BGR,2709,Petroleum oils and oils obtained from bitumino...,Weight in kilograms,3568235000,1294804521
3,2017,Export,643,Russian Federation,RUS,112,Belarus,BLR,2709,Petroleum oils and oils obtained from bitumino...,Weight in kilograms,18069750000,5278221910
4,2017,Export,643,Russian Federation,RUS,124,Canada,CAN,2709,Petroleum oils and oils obtained from bitumino...,Weight in kilograms,434647000,164645949

In [22]:
df1_world = df1[df1.partner == 'World']
df1_world.head()

,period,trade_flow,reporter_code,reporter,reporter_iso,partner_code,partner,partner_iso,commodity_code,commodity,qty_unit,qty,trade_value_(us$)
0,2017,Export,643,Russian Federation,RUS,0,World,WLD,2709,Petroleum oils and oils obtained from bitumino...,Weight in kilograms,252793521527,93377261711
49,2018,Export,643,Russian Federation,RUS,0,World,WLD,2709,Petroleum oils and oils obtained from bitumino...,Weight in kilograms,260558175223,129201079701
95,2019,Export,643,Russian Federation,RUS,0,World,WLD,2709,Petroleum oils and oils obtained from bitumino...,Weight in kilograms,269175244771,122228578653
140,2020,Export,643,Russian Federation,RUS,0,World,WLD,2709,Petroleum oils and oils obtained from bitumino...,Weight in kilograms,239170412544,72564293957

In [23]:
# we get rid of the category World as a whole
df1 = df1[df1.partner != 'World']
df1.head()

,period,trade_flow,reporter_code,reporter,reporter_iso,partner_code,partner,partner_iso,commodity_code,commodity,qty_unit,qty,trade_value_(us$)
1,2017,Export,643,Russian Federation,RUS,40,Austria,AUT,2709,Petroleum oils and oils obtained from bitumino...,Weight in kilograms,40140,2143
2,2017,Export,643,Russian Federation,RUS,100,Bulgaria,BGR,2709,Petroleum oils and oils obtained from bitumino...,Weight in kilograms,3568235000,1294804521
3,2017,Export,643,Russian Federation,RUS,112,Belarus,BLR,2709,Petroleum oils and oils obtained from bitumino...,Weight in kilograms,18069750000,5278221910
4,2017,Export,643,Russian Federation,RUS,124,Canada,CAN,2709,Petroleum oils and oils obtained from bitumino...,Weight in kilograms,434647000,164645949
5,2017,Export,643,Russian Federation,RUS,156,China,CHN,2709,Petroleum oils and oils obtained from bitumino...,Weight in kilograms,52566640000,20555257800

In [24]:
# we check that the total amount of exports for 2020 equals the world ammount for that year
total_exp = df1[df1.period == 2020].copy()

In [25]:
total_exp.qty.sum()

239170412544

In [26]:
# we want to see all the countries that received Russian oil in order to isolate those that
## haven't support sanctions yet
total_exp.partner.value_counts()

Azerbaijan              1
India                   1
Malta                   1
Netherlands             1
New Zealand             1
Norway                  1
Philippines             1
Poland                  1
Romania                 1
Slovakia                1
Lithuania               1
South Africa            1
Spain                   1
Sweden                  1
United Arab Emirates    1
Turkey                  1
United Kingdom          1
USA                     1
Malaysia                1
Kyrgyzstan              1
Brunei Darussalam       1
France                  1
Bulgaria                1
Belarus                 1
China                   1
Croatia                 1
Czechia                 1
Denmark                 1
Finland                 1
Germany                 1
Rep. of Korea           1
Greece                  1
China, Hong Kong SAR    1
Hungary                 1
Israel                  1
Italy                   1
Japan                   1
Kazakhstan              1
Uzbekistan              1
Name: partner, dtype: int64

In [27]:
# List of countries that haven't backed sanctions
countries = ['Belarus', 'China', 'India', 'Turkey', 'Israel', 'United Arab Emirates', 'Kyrgyzstan', 'Uzbekistan', 'Kazakhstan', 'China, Hong Kong SAR']

In [28]:
anti_sanctions = total_exp[total_exp['partner'].isin(countries)]
anti_sanctions.head()

,period,trade_flow,reporter_code,reporter,reporter_iso,partner_code,partner,partner_iso,commodity_code,commodity,qty_unit,qty,trade_value_(us$)
144,2020,Export,643,Russian Federation,RUS,112,Belarus,BLR,2709,Petroleum oils and oils obtained from bitumino...,Weight in kilograms,14745830000,3544313227
145,2020,Export,643,Russian Federation,RUS,156,China,CHN,2709,Petroleum oils and oils obtained from bitumino...,Weight in kilograms,75265886900,23769208060
153,2020,Export,643,Russian Federation,RUS,344,"China, Hong Kong SAR",HKG,2709,Petroleum oils and oils obtained from bitumino...,Weight in kilograms,186990700,99801444
155,2020,Export,643,Russian Federation,RUS,376,Israel,ISR,2709,Petroleum oils and oils obtained from bitumino...,Weight in kilograms,455830000,63791235
158,2020,Export,643,Russian Federation,RUS,398,Kazakhstan,KAZ,2709,Petroleum oils and oils obtained from bitumino...,Weight in kilograms,24840320,7079949

In [29]:
# Sanctions that haven't supported sanctions consumed in 2020 almost 1 million ton of oil 
# We'll use this information later in our Sankey diagram
anti_sanctions.qty.sum()

94306638124

In [30]:
# We group the data by year and country
df1_country = df1.groupby(['period', 'partner'])['qty'].sum().sort_values(ascending=False).to_frame().reset_index()
df1_country.head()

   period      partner          qty
0    2020        China  75265886900
1    2019        China  70639930000
2    2018        China  66957520000
3    2017        China  52566640000
4    2017  Netherlands  47038420000

In [31]:
# We keep the top 10 countries where Russia exported petrol in 2020
df1_country = df1_country.set_index('partner').groupby('period')['qty'].nlargest(10).reset_index()

In [32]:
df1_country.tail()

    period        partner          qty
35    2020  Rep. of Korea  14553470850
36    2020          Italy  12604785640
37    2020        Finland   9228732720
38    2020          Japan   5921309410
39    2020       Slovakia   5458328000

In [33]:
# transform kilograms of petrol to barrels (one barrel is 136kg)
df1_country.qty = (df1_country.qty / 136)
df1_country.tail()

    period        partner            qty
35    2020  Rep. of Korea 107,010,815.07
36    2020          Italy  92,682,247.35
37    2020        Finland  67,858,328.82
38    2020          Japan  43,539,039.78
39    2020       Slovakia  40,134,764.71

In [34]:
# calculate number of total barrels exported per day
df1_country.qty = (df1_country.qty / 365)
df1_country.tail(10)

    period        partner          qty
30    2020          China 1,516,234.63
31    2020    Netherlands   640,453.87
32    2020        Germany   439,557.53
33    2020         Poland   299,683.32
34    2020        Belarus   297,055.40
35    2020  Rep. of Korea   293,180.32
36    2020          Italy   253,923.97
37    2020        Finland   185,913.23
38    2020          Japan   119,285.04
39    2020       Slovakia   109,958.26

In [35]:
df1_country.to_csv('final_export_petrol.csv', index=False)